.title {
  font-family: 'Carter One';
}
.container {
  margin-top: 50px;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  
}
.image-grid .cat-item:nth-child(5n){
  grid-column-end: span 2;
}

.image-grid img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BrainhubCarouselItem img{
  max-width: 100%;
  height: auto;
  transition: all ease 200ms
}

.BrainhubCarouselItem img:hover {
  transform: scale(1.25);
}

.breed-info {
  display: none;
}

.display-info {
  display: block;
}